.Nav {
    display: inline-block;
    vertical-align: middle;
    font-size: medium;
    background-color: #1c1e2e;
    width:110%;
    height: 8%;
    margin: -8px;
    text-align: center;
    
}

.Nav h1 {
    color: white;
    
}