.optionTable {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.97);
  border-color: rgb(255, 255, 255, 0.3);
  color: black;
  border-radius: 12px;
  border-width: 12px;
  border-style: solid;
  width: 100%;
  margin-top: 5%;
}

.sliderBit {
  width: 100%;
}
