.infoText {
  font-family: inherit;
  padding: 1vw;
  font-size: medium;
  font-weight: bolder;
  text-align: left;
  margin: rgb(0, 0, 0);
}

.infoBox {
  width: 50vw;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}

.entryBox {
  border-radius: 12px;
  border-color: black;
  align-items: normal;
  font-family: inherit;
  display: inline-block;
}
.col-25 {
  float: left;
  width: 45%;
  text-align: right;
}

.desc {
  width: 54%;
  min-height: 100px;
  overflow-wrap: break-word;
  word-break: break-all;
}

h2 {
  color: black;
}
